*.exe
*.mdb
*.txt
*.userprefs
*.sln
*.csproj
NESW_Textadventure/Properties/AssemblyInfo.cs
NESW_Textadventure/obj/*
*.pdb

NESW_Textadventure/Properties/AssemblyInfo.cs

NESW_Textadventure/MaliksDing.cs

NESW_Textadventure/Properties/ArnosOrt.cs

NESW_Textadventure/Properties/AssemblyInfo.cs

NESW_Textadventure/Properties/AssemblyInfo.cs

NESW_Textadventure/Properties/AssemblyInfo.cs

NESW_Textadventure/Properties/AssemblyInfo.cs
